/* 
    @use rule allows us to load modules in sass.
 */

@use '../util/' as u;
/* you can customise the above line... */
/* @use '../util/ as u */
/* 
    the boilerplate will only be looking for the
    index.scss inside the util folder
    u.$font; ... u for util.
 */

html {
    box-sizing: border-box;
    font-size: 100%;// 62.5%; 
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: u.$font;/* Arial, Helvetica, sans-serif */
    background-color: var(--background-color);
    color: var(--text-color);
    /* display: grid;
    // horizontal alignment
    justify-content: center; */
}

